<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".results"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ranking"
            android:label="@string/title_activity_ranking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shake"
            android:label="@string/title_activity_shake"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".instructions"
            android:label="@string/title_activity_instructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".math3"
            android:label="@string/title_activity_math3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".math"
            android:label="@string/title_activity_math"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".math2"
            android:label="@string/title_activity_math2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".firstblock"
            android:label="@string/title_activity_firstblock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".spatialActivity"
            android:label="@string/title_activity_spatial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>